name: Release
on:
  push:
    tags:
      - v*
permissions:
  contents: write
jobs:
  release:
    runs-on: windows-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      # Recreate tag rewritten by workflow.
      # See: https://redirect.github.com/actions/checkout/issues/290
      - name: Fix Target Tag
        run: git fetch --tags --force
        shell: bash
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
      - name: Restore .NET Tools
        run: dotnet tool restore
        shell: pwsh
      - name: Build
        run: ./dev.ps1
        shell: pwsh
      - id: variables
        name: Define Release Variables
        run: |
          TAG_BODY=$(git tag --list "${{ github.ref_name }}" --format="%(contents:body)")
          echo "TAG_BODY<<EOF" >> $GITHUB_ENV
          echo "$TAG_BODY" >> $GITHUB_ENV
          echo "EOF" >> $GITHUB_ENV

          IS_PRERELEASE=$(if [[ "${{ github.ref_name }}" == *"-"* ]]; then echo "true"; else echo "false"; fi)
          echo "IS_PRERELEASE=$IS_PRERELEASE" >> $GITHUB_OUTPUT

          IS_MARKER=$(git tag --list "${{ github.ref_name }}" --format="%(trailers:key=Marker,valueonly=true,separator=)")
          echo "IS_MARKER=${IS_MARKER:-false}" >> $GITHUB_OUTPUT
        shell: bash
      - name: Create Release
        if: ${{ steps.variables.outputs.IS_MARKER == 'false' }}
        uses: softprops/action-gh-release@v2
        with:
          body: ${{ env.TAG_BODY }}
          draft: false
          files: artifacts/executables/console/win-x64/gint.exe
          prerelease: ${{ steps.variables.outputs.IS_PRERELEASE == 'true' }}
